!!! 5
%html{ lang: 'en'}
  = render 'layouts/atmosphere/head'

  %body{"data-no-turbolink" => controller.controller_name == 'home'}
    #wrap
      .proper-content
        = render 'layouts/atmosphere/flash'
        = render 'layouts/atmosphere/navbar'
        .container= yield
      #push
    = render "layouts/atmosphere/footer"
